<div class="progress">
  <div class="progress-bar" role="progressbar" [ngStyle]="{width: progress.percentage+'%'}" attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100">{{progress.percentage}}%</div>
</div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Form Upload</h5>
      <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)">
      </label>
        
      <button class="btn btn-success" (click)="upload()" [disabled]="!selectedFile">Upload</button>    
    </div>
  </div>
    
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Images Thumbnail</h5>
      <button class="btn btn-info" (click)="showImage()">Show Image</button>
      <div [hidden]="!visible">
        <img *ngFor="let image of images" [src]="image" class="img-thumbnail" width="200px" height="200px">
      </div>
    </div>
  </div>
</div>